{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Welcome{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p class="body">
    <div>
        Welcome to <i>Grasshopper</i>, a straightforward flask application to track time and cpu usage of your test runs.
        <br/>
        <br/>
        To use this, start the server, make sure you get a user (register), use your credentials
        with the grasshopper script, to start tracking your test runs.
    </div>
  </p>
{% endblock %}
